@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --background: #000;
    --backgrondII: #131213;
    --ground: #1a191983;
    --color: #ffffff;
    --verde: #0f0;
    --fonteI: "Roboto Mono", monospace;
    --fonteII: "Orbitron", sans-serif;
}

body{
    font-family: var(--fonteI);
    background-color: var(--background);
    background-image: url(imgs/wallpaper.jpeg);
    color: var(--color);
    filter: sepia(70%);
}

header{
    padding: 25px 50px;
    font-family: var(--fonteII);
    color: var(--color)
}

.title{
    font-family: var(--fonteII);
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
}

.cab{
    padding: 20px 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
}

.top{
    padding: 50px 50px;
    display:flex;
    font-family: var(--fonteII);
    color: var(--color);
}

.accordion{
    min-width: 120px;
    max-width: 250px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 50px;
}

.accordion-button {
    background-color: transparent;
    color: var(--color);
    padding: 15px 50px;
    text-align: left;
    outline: none;
    font-family: var(--fonteI);
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.accordion-button:hover {
    background-color: var(--ground);
}

.accordion-content {
    font-family: var(--fonteI);
    font-weight: 100;
    font-size: 15px;
    color: var(--color);
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--ground);
    transition: max-height 0.3s ease-out;
}

.accordion-content p {
    margin: 10px 0;
}

a{
    color: var(--color);
    text-decoration: none;
}

h2{
    font-family: var(--fonteI);
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.txt{
    margin: 0 16px;
    padding: 20px 50px;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 25px;   
 }

 @media screen and (max-width: 480px){
    .top{
            margin: 0 16px;
            padding: 20px 0;
            justify-content:center;
            display:flexbox;
            text-align: center;
            grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .accordion{
        min-width: 120px;
        max-width: 250px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px 50px;
    }
 }