@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --background: #000;
    --backgrondII: #131213;
    --ground: #1a191983;
    --color: #ffffff;
    --verde: #0f0;
    --fonteI: "Roboto Mono", monospace;
    --fonteII: "Orbitron", sans-serif;
}

body{
    font-family: var(--fonteI);
    background-color: var(--background);
    background-image: url(imgs/wallpaper.jpeg);
    color: var(--color);
    filter: sepia(70%);
}

/*cabeçalho*/

header{
    padding: 40px 50px;
    font-family: var(--fonteII);
    color: var(--color);
    background-color: var(--ground);
}

.title{
    font-family: var(--fonteII);
    font-style: italic;
    font-weight: 300;
    padding: 5px;
}

.cab{
    padding: 20px 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
}

.top{
    padding: 50px 50px;
    display:flex;
    font-family: var(--fonteII);
    color: var(--color);
}

/*acordeão*/

.accordion{
    min-width: 120px;
    max-width: 180px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 50px;
}

.accordion-button {
    background-color: transparent;
    color: var(--color);
    padding: 0px 10px;
    text-align: left;
    outline: none;
    font-family: var(--fonteI);
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.accordion-button:hover {
    background-color: var(--ground);
}

.accordion-content {
    font-family: var(--fonteI);
    font-weight: 100;
    font-size: 15px;
    color: var(--color);
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--backgrondII);
    transition: max-height 0.3s ease-out;
}

.accordion-content p {
    margin: 10px 0;
}

a{
    color: var(--color);
    text-decoration: none;
}

/*texto*/

h2{
    font-family: var(--fonteI);
    font-weight: 300;
    font-size: 180%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 1.5%;
}

.txt{
    margin: 0 16px;
    padding: 20px 5%;
    justify-content: center;
    text-align: justify;
    display: flex;
    font-size: 150%; 
    font-weight: 200;  
}

.txt.d{
    margin: 0 16px;
    padding: 20px 5%;
    justify-content: left;
    text-align: left;
    display: flex;
    font-size: 150%; 
    font-weight: 200;
    padding-top: 40px;
}

.txt.e{
    padding-bottom: 150px;
}

/*Historico*/

.arquivo{
    margin: 0 16px;
    padding: 20px 0;
    justify-content:left;
}

.bookshelf{
    text-align: left;
    padding: 50px 0px;
    text-shadow: var(--sombra);
    grid-template-columns: 20% 20% 20% 20% 20%;
    list-style-type: none;
    font-size: 25px;
}

.livro{
    padding: 20px 20px;
    size: 500px;
    background-color: var(--ground);
}

h4{
    font-family: var(--fonteI);
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
}

.data{
    font-size: 20px;
    font-weight: 100;
    padding: 5px;
}

/*footer*/

footer{
    background-color: var(--backgrondII);
}

.rede{
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

.icon{
    padding: 0 16px;
    padding-top: 5px;
    padding-bottom: 15px;
    display: inline-block;
}

@media screen{
    .livro.pepo:first-child{
        border-radius: 10px 10px 0 0;
    }
    .livro.pepo:last-child{
        border-radius: 0 0 10px 10px;
    }
}

@media screen and (max-width: 600px){
    .txt{
        font-size: 100%;   
    }    
}